  <% if @results.any? %>
    <% if params[:model] == "Book" %>
      <%= render "books/books", books:@results %>
    <% else %>
      <%= render "users/index", users:@results %>
    <% end %>
  <% else %>
    <p>検索結果は0件</p>
  <% end %>